@model ListViewModel<Car>



@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarGroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarGroupId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@
@{
    ViewData["Title"] = "Каталог";
    var categories = ViewData["Groups"] as IEnumerable<CarGroup>;
    int currentGroup = (int)ViewData["CurrentGroup"];
    var text = currentGroup != 0
        ? categories
            .FirstOrDefault(g => g.CarGroupId == currentGroup)?
            .CarGroupName
        : "Все";
}
<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <a class="btn btn-secondary dropdown-toggle"
               asp-action="Index" asp-controller="Product"
               role="button"
               id="dropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">

                @text
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product">Все</a>
                @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product"
                   asp-route-group="@item.CarGroupId"
                   asp-route-pageNo="1">@item.CarGroupName</a>
                }
            </div>
        </div>
    </div>
  
    <div class="col-20">
        <div class="card-group" id="list">
            <partial name="_ListPartial" model="@Model" />
        </div>
    <pager page-current="@Model.currentPage"
           page-total="@Model.totalPages"
           action="Index"
           controller="Product"
           group-id="@currentGroup"></pager>
    </div>